.classroom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.left {
    flex: 1;
    max-width: 500px;
    font-family: var(--primary-font);
}
.left-head{
    color: #2F327D;
    font-weight: 500;
    font-size: 36px;
    line-height: 160%;
}
.left-head span{
    color: #F48C06;
}
.des{
    color: #696984;
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    letter-spacing: 0.02em;    
}
.learn-more {
    font-size: 22px;
    line-height: 180%;
    font-weight: 400;
    text-decoration: underline;
    color: #696984;
}
.right{
    flex: 1;
    position: relative;
}
.img-container {
    position: relative;
    display: inline-block;
    border-radius: 1rem;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    display: block;
    
}