
:root {
    --background-color: #ffffff;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Nunito Sans', 'Poppins';
}

a {
    text-decoration: none;
}

.site-header {
    background-color: #FFF2E1;
    padding: 0 5%;
    font-family: var(--primary-font);
}
/* --- Navbar --- */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 0;
}

.navbar-logo {
    position: relative;
    display: inline-block;
}

.navbar-logo img {
    display: block;
    height: 60px;
    width: auto;
}

.navbar-logo span {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    font-weight: 700;
    font-size: 32px;
    color: #113C49;
    white-space: nowrap;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar-links a {
    font-size: 18px;
    color: #252641;
    font-weight: 400;
}

.navbar-actions {
    display: flex;
    gap: 20px;
}

.login-btn, .signup-btn {
    border-radius: 25px;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
}

.login-btn {
    background-color: #FFFFFF;
    color: #6C6C6C;
}

.signup-btn {
    background-color: #F48C06;
    color: #FFFFFF;
}

/* --- Hero Section --- */

.hero-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0;
    max-width: 1400px;
    margin: 0 auto;
}

.hero-text {
    flex: 1 1 500px;
    max-width: 600px;
}

.hero-text h1 {
    font-family: var(--primary-font);
    font-size: clamp(28px, 6vw, 54px);
    font-weight: 700;
    color: #2F327D;
    margin-bottom: 20px;
}

.hero-text p {
    font-family: var(--secondary-font);
    font-size: clamp(14px, 3vw, 24px);
    font-weight: 400;
    color: #464646;
    margin-bottom: 30px;
}

.hero-text h1 span {
    color: #f58d06;
}
.hero-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.get-started {
    font-family: var(--primary-font);
    background-color: #F48C06;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.watch-how {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: transparent;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    cursor: pointer;
    height: auto;
}
.watch-how span{
    font-family: var(--primary-font);
    color: #252641;
    font-size: 18px;
}
.play-btn {
    width: 80px;
    height: 80px;
    margin-top: 15px;
}
.hero-image {
    flex: 1 1 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
    max-width: 600px;
    position: relative;
}

.hero-image img {
    width: 100%;
    max-width: 500px;
    margin-top: -52px;
}

.hero-tags {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tag-box {
    position: absolute;
    background-color: #fff;
    padding: 20px 25px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #545567;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    max-width: 390px;
    pointer-events: auto;
    transition: all 0.3s ease;
    z-index: 1;
    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.tag-text {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    letter-spacing: 0.02em;
}

.tag-box strong {
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 700;
}

.tag-box span {
    font-family: var(--secondary-font);
    font-size: 14px;
    color: #545567;
    font-weight: 400;
}

.tag-icon {
    width: 24px;
    height: 24px;
    border-radius: 10px;
    position: absolute;
    object-fit: contain;
}
.tag-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
}
.email-tag .tag-icon {
    background-color: #F88C3D;
    padding: 8px; 
    position: relative;
    top: 25px;

}
.student-tag .tag-icon {
    padding: 2px; 
    position: relative;
    height: 37px;
    top: 26px;
    left: -12px;
}

.user-tag .tag-icon {
    padding: 5px;
    height: 56px;
    width: 56px;
    position: relative;
    top: 6px;
    left: -10px;
}
.user-tag{
    width: 261px;
}
.student-tag{
    width: 183px;
}
.email-tag{
    width: 251px;
}

.tag-join-btn{
    background-color: #D8587E;
    border-radius: 25px;
    border: none; 
    color: white;
    padding: 10px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.tag-status{
    position: relative;
    top: 6px;
    left: 194px;   
    height: 15px;
}
