.features-section {
    padding: 80px 5%;
    max-width: 1580px;
}

.feat-txt{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.features-section h2{
    font-size: 36px;
    font-weight: 700;
    font-family: var(--primary-font);
    color: #2F327D;
}
.features-section span {
    color: #696984;
}
.features-section p {
    /* margin: 0; */
    color: #696984;
    font-size: 24px;
    font-weight: 400;
    font-family: var(--primary-font);
}

.feature-block {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-bottom: 5rem;
   
    /* padding: 100px 170px 160px 170px; */
}

.feature-txt {
    font-family: var(--primary-font);
    font-size: 22px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.02em;
    max-width: 542px;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    color: #696984;
}
.feature-txt ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.feature-image, .feature-txt {
    flex: 1;
}
.feature-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-img, .back-img {
    max-width: 100%;
    height: auto;

    max-height: 650px;
    width: auto;
}
.back-img {
    position: absolute;
    z-index: -1;
}
.highlight {
    color: #2F327D;
}
.highlight span{
    color: orange;
}
.reversed {
    display: flex;
    flex-direction: row-reverse;
}
.bullet-icon {
    border-radius: 2px;
}
.bullet-icon-bg {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 15px 44px 0px #0D0F1C1F;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 44px;
    height: 44px;
}
.see-more {
    border: 1px solid #F48C06;
    border-radius: 80px;
    color: #F48C06;
    background-color: white;
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 19px 38px 18px;
}
.see-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;

}
.see-more:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}