
.test-section {
  padding: 80px 5%;
  justify-content: center;
}

.test-container {
  display: flex;
  align-items: center;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
}

.test-txt,
.test-img {
  flex: 1;
  width: 50%;
}

.test-head {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  padding-left: 100px;
  margin-bottom: 1rem;
  font-family: var(--secondary-font);
  color: #525596;
}
.test-head::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 1px;
    background-color: #525596;
}

.test-main {
  font-size: 36px;
  font-weight: 600;
  color: #2F327D;
  margin-bottom: 1.5rem;
  color: #2F327D;
  line-height: 100%;
  letter-spacing: 0;
  font-family: var(--primary-font);
}

.test-des {
  font-size: 18px;
  color: #696984;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  font-family: var(--primary-font);
}

.test-btn {
  background-color: transparent;
  color: #F48C06;
  border: 1px solid #F48C06;
  padding: 1rem 2rem;
  font-size: 16px;
  font-weight: 500;
  border-radius: 80px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

.test-btn:hover {
  background-color: #F48C06;
  color: white;
}

.test-btn span {
    transition: transform 0.3s ease;
}

.test-btn:hover span {
    transform: translateX(5px);
}

.test-img {
  position: relative;
}
.girl-img {
  width: 100%;
  bottom: 20px;
  display: block;
}
.test-card-wrapper {
  position: absolute;
  z-index: 2;
  width: 105%;
  bottom: -94px;
  left: 67%;
  transform: translateX(-50%);

}
.test-card {
  padding: 20px;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.test-card::before {
  content: '';
  position: absolute;
  background-color: #F48C06; 
  width: 14px;
  height: 335px; 
  border-top-left-radius: 20px; 
  border-bottom-left-radius: 20px; 
  top: 4px; 
  left: 0;
}
.test-quote{
  font-family: var(--secondary-font);
  font-size: 22px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #5F5F7E;
  border-left: 1px solid #BDBDD1;
  padding-left: 20px;
}

.author-name {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 600;
  line-height: 180%;
  letter-spacing: 0;
  color: #5F5F7E;
}
.review-source {
  color: #5F5F7E;
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0.02em;
}

.test-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}