.news-section {
    padding: 80px 5%;   
    background-color: #FAFAFA;
}

.news-head {
    text-align: center;
    max-width: 706px;
    margin: 0 auto 60px auto;
    font-family: var(--secondary-font);
}

.news-head h2 {
    font-size: 36px;
    font-weight: 700;
    color: #2F327D;
}

.news-head p {
    font-size: 24px;
    color: #696984;
    margin-top: 1rem;
}

.news-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
}

.article {  
    border-radius: 20px;
}

.article .news-image-container {
    position: relative;
    max-height: 400px;
}

.article .news-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.article .news-card-txt {
    padding: 20px 30px 30px 0px;
    font-family: var(--primary-font);
}

.article h3 {
    font-size: 22px;
    font-weight: 500;
    color: #252641;
}

.article p {
    font-size: 18px;
    color: #696984;
    line-height: 1.8;
}

.article a {
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    color: #696984;
    display: inline-block;
    margin-top: 1rem;
}


.news-small-card-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-small-card {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 15px;
    border-radius: 20px;
}

.news-small-card .news-image-container {
    flex-shrink: 0;
}

.news-small-card img {
    width: 120px;
    border-radius: 10px;
}

.news-small-txt {
    flex: 1;
    font-family: var(--secondary-font);
}

.news-small-txt h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color:  #252641;
    margin: 0 0 5px 0;
}

.news-small-card p {
    font-size: 14px;
    line-height: 1.6;
    color: #696984;
    margin: 0;
}


.news-image-container{
    position: relative;
}


.news-tag{
    position: absolute;
    bottom: 15px;
    left: 15px;
    background-color: #F48C06; 
    z-index: 2;
    color: #252641  ;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
}
.press-release {
    position: absolute;
    bottom: 15px;
    left: 15px;
    background-color: #F48C06; 
    color: #252641;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
}